@charset "utf-8";

/* ユニバーサルセレクタで余白リセット */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

header {
    background-color:black;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.container {
    max-width: 1440px;
      margin: 0 auto;
  }

/* フロート解除用*/
  .clearlist {
    content: "";
    display: block;
    clear: both;
  }

  /*ヘッダー開始--------------------------------*/

  .area_name_header {
    display: flex;
    align-items: center; /*上下中央揃え*/
  }

  .shop_name {
    color: white;
  }

  .nav_header{
      margin-left: auto; /*右揃え*/
      display: flex;
  }

  .list_nav_header {
      display: flex;
      /*margin-left: 40px;*/
  }

  /* ▽ の調整 */
  ul > li > span{
    margin-left: 1.2em;
  }

  ul li ul li{
    display: block;
  }

  ul li ul li a{
    background-color: #efefef;
    color: #444;
  }

  ul li ul li a:hover{
    background-color: #ddd;
  }

  /* ホバーの仕様*/
  .nav_header ul li ul {
      display: none;
  }

  .nav_header ul li:hover ul {
    display: block;
  }
  

  nav ul {
      list-style: none;
  }

  nav li {
      margin-right: 30px;
  }

  nav a {
      display: block;
      text-decoration: none; /* 下のアンダーラインを消す*/
      color: white;
  }

  nav a:hover {
      opacity: 0.7; /*ホバーで文字を透過*/
  }

  /*ヘッダー終了----------------------*/

  .menu_select {
    margin: auto;
  }

  .menu_select ul {
    margin: auto;
    display: flex;
    list-style: none;
  }

  .menu_select ul li {
    margin-left: 20px;
  }

  .menu_box {
	width: 100%;
	margin-bottom: 30px;
  }

  .menu_box ul {
    display: flex;
    text-align: left;
    margin-left: 0px;
    margin-top: 30px;
    list-style: none;
  }

  .menu_box ul li {
      margin-left: 60px;
  }

  .menu_size {
    width: 400px;
    height: 300px;
  }
